.footer{
    background-color: #7946fc;
    display: flex;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
    margin-top: 115%;
    
}


.footer img{
    margin: 15px;
    
}

